{% load static %}

<section class="section about-me" data-section="section1">
    <div class="container">
        <div class="section-heading">
            <h2>About Me</h2>
            <div class="line-dec"></div>
            <span>
                    Samarqand viloyati, Narpay tumani, Xo'jaqo'rg'on mahallasida
                    2000-yil, 25-avgustda tug'ulganman.

                </span>
        </div>

        <div CLASS="service-item" style="padding: 30px;">
            <!-- school -->
            <div class="left-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-image">
                            <img src="{% static 'assets/images/school.jpg' %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-text">
                            <h4>Maktab</h4>
                            <p>
                                2007 - 2016 - yillarda, Samarqand vil, Narpay tum,
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lyceum -->
            <div class="right-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-text">
                            <h4>Litsey</h4>
                            <p>
                                2016 - 2019 yillar, Samarqand sh. TATU qoshidagi akademik lisey
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="{% static 'assets/images/litsey.jpg' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- university -->
            <div class="left-image-post"
                 style="margin-top: 60px !important;
                    padding-top: 60px !important;
                    border-top: 2px solid rgba(250, 250, 250, 0.1) !important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-image">
                            <img src="{% static 'assets/images/unvertitet.jpg' %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-text">
                            <h4>Unversitet</h4>
                            <p>
                                2019 - 2024 - yillarda, Samarqand sh.
                                Samarqand davlat unversiteti
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- courses -->
            <div class="right-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-text">
                            <h4>O'quv kursi</h4>
                            <p>
                                2023 - 2024 - yillar, Toshkent. Proweb (zamonaviy kasblar maktabi)
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="{% static 'assets/images/course_1.jpg' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>