{% load static %}
<div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">

                    <!-- My photo -->
                    <a href="#"><img src="{% static 'assets/images/my_img.jpg' %}" alt=""/></a>

                </div>
                <div class="author-content">
                    <h4>Bovaqulov Muhammadali</h4>
                    <span>Web Developer</span>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="#section1">About Me</a></li>
                        <li><a href="#section2">I Have</a></li>
                        <li><a href="#section3">My Work</a></li>
                        <li><a href="#section4">Contact Me</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100093178989069"
                            ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/bovaqulov32996"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://linkedin/bovaqulov"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://t.me/bovaqulov"><i class="fa fa-telegram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bovaqulov"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p></p>
                </div>
            </div>
        </div>
    </div>